* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: bisque;
  height: 100px;
  margin-bottom: 20px;
}

.box {
  height: 100px;
  width: 200px;
  background-color: aquamarine;
  border: 1px solid black;
  gap: 20px;
}

.container-one {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.first {
  justify-self: start;
}

.second {
  justify-self: end;
}

.container-two {
  display: grid;
  grid-template-columns: 200px 1fr 200px 200px 200px;
  align-items: center;
  gap: 20px;
}

.fourth {
  grid-column: 3;
}

.container-three {
  display: grid;
  grid-template-columns: 200px 200px 1fr 200px 200px;
  align-items: center;
  gap: 20px;
}

.eighth {
  grid-column: 2;
}

.ninth {
  grid-column: 4;
}

.twelfth,
.thirteenth,
.fifteenth,
.sixteenth {
  height: 40px;
}

.container-four {
  display: grid;
  grid-template-columns: 1fr 200px 20px 200px auto;
  grid-template-rows: 40px 20px 40px;
  justify-content: end;
}

.eleventh {
  grid-column: 2;

}

.twelfth {
  grid-column: 4;
  grid-row: 1;
  margin-right: -20px;
}

.thirteenth {
  grid-column: 4;
  grid-row: 3;
  margin-right: -20px;
}

.container-five {
  display: grid;
  grid-template-columns: 1fr 200px 20px 200px 1fr;
  grid-template-rows: 40px 20px 40px;
  justify-content: center;
  margin-top: 20px;
}

.fourteenth {
  grid-column: 2;
  grid-row: 1;
}

.fifteenth {
  grid-column: 4;
  grid-row: 1;
}

.sixteenth {
  grid-column: 4;
  grid-row: 3;
}