* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: bisque;
  height: 100px;
  margin-bottom: 20px;
}

.box {
  height: 100px;
  width: 200px;
  background-color: aquamarine;
  border: 1px solid black;
  gap: 20px;
}

.container-one {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.first {
  justify-self: start;
}

.second {
  justify-self: end;
}

.container-two {
  display: grid;
  grid-template-columns: 200px 1fr 200px 200px 200px;
  align-items: center;
  gap: 20px;
}

.fourth {
  grid-column: 3;
}

.container-three {
  display: grid;
  grid-template-columns: 200px 200px 1fr 200px 200px;
  align-items: center;
  gap: 20px;
}

.eighth {
  grid-column: 2;
}

.ninth {
  grid-column: 4;
}

.twelfth,
.thirteenth,
.fifteenth,
.sixteenth {
  height: 40px;
}

.box-container_four {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 20px;
  justify-content: center;
}

.eleventh {
  justify-self: end;
}

.block-container_four {
  display: grid;
  gap: 20px;
  justify-content: end;
}

.box-container_five {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
  justify-content: center;
}

.block-container_five {
  display: grid;
  gap: 20px;
}